<%- include component/top.ejs %>
    <!-- 中间内容 -->
    <section class="news-detail-content award-detail-content">
        <article>
            <h1>生活中那些美丽风景</h1>
            <p class="date">发布日期：2016-01-06 17:53</p>
            <p><img src="/img/award/award2/1.jpg"></p>
            <p><img src="/img/award/award2/2.jpg"></p>
            <p><img src="/img/award/award2/3.jpg"></p>
            <p><img src="/img/award/award2/4.jpg"></p>
        </article>
    </section>
    <!-- 底部 -->
<%- include component/bottom.ejs %>
</body>
</html>
