<%- include component/top.ejs %>
    <!-- 中间内容 -->
    <section class="award-content">
        <article>
            <a href="/award/1"><img src="/img/award/award1/1.jpg"></a>
            <a href="/award/1"><h1>2205年上海国际摄影大赛获奖作品</h1></a>
            <a class="more" href="/award/1">阅读正文</a>

            <a href="/award/2"><img src="/img/award/award2/1.jpg"></a>
            <a href="/award/2"><h1>2205年上海国际摄影大赛获奖作品</h1></a>
            <a class="more"  href="/award/2">阅读正文</a>
        </article>
    </section>
    <!-- 底部 -->
    <%- include component/bottom.ejs %>
</body>
</html>
