<%- include component/top.ejs %>
    <!-- 中间内容 -->
    <section class="contact-content">
        <article class="contact-way">            
            <p>微博：weibo1216</p>
            <p>微信：dfddddd</p>
            <p>QQ：35666555</p>
            <p>手机：1234567890</p>
            <p>邮箱：youxiang@youxiang.com</p>
            <p>地址：苏州市工业园区金鸡湖大道</p>
            <br>
            <p>工作时间:</p>
            <p>周一周日：8:00-5:00</p>
            <p>周六周日休息</p>
            <p>国家法定节假日休息</p>
            <br>
            <p>预约服务热线：000-000-0000</p>
        </article>
    </section>

    <!-- 底部 -->
<%- include component/bottom.ejs %>
</body>
</html>
